@import "tailwindcss";

:root {
  /* background-color: rgb(237,253,246); */
  background-color: rgb(209, 250, 232);
   
}



body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

